
@{
    ViewBag.Title = "contact";
}


<body>
    <div class="main">
        <div class="main_resize">

            <div class="content">
                <div class="content_bg">
                    <div class="mainbar">
                       <h1>Contact Us</h1>
                        <div class="clr"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="footer">

    </div>

</body>




